[2013-12-17 10:15] bjozsef1113 opened #1 "Unintelligible Exception when initializing."
When trying to use the library (the code that does it works fine with the old 1.6 version of the API) I get the following exception:

[code]

What does it mean? How can I approach figuring out what's wrong?

[2013-12-17 15:18] peter-lawrey opened #2 "Add support for using taskset for systems where PosixJNA doesn't work."

[2014-01-09 02:36] harry12345 opened #3 "Linux - Affinity does not work"
CPU:
Intel(R) Core(TM)2 Duo CPU     P8600  @ 2.40GHz

OS:
Ubuntu 12.04 64bit
Java-Thread-Affinity version : 1.7

com.higherfrequencytrading.affinity.AffinityLock getReservedAffinity0
INFO: No isolated CPUs found, so assuming CPUs 1 to 1 available.
com.higherfrequencytrading.affinity.AffinityLock bind
INFO: Assigning cpu 1 to Thread[main,5,main]
com.higherfrequencytrading.affinity.AffinityLock acqu

[2014-01-15 23:21] gregorsini opened #4 "Chronicle test VanillaChronicleTest fails on Mac OS X"
I am trying to build on Mac OSX and failing because NullAffinity throws this exception:

<pre>
java.lang.UnsupportedOperationException
    at net.openhft.affinity.impl.NullAffinity.getThreadId(NullAffinity.java:58)
    at net.openhft.affinity.AffinitySupport.getThreadId(AffinitySupport.java:70)
    at net.openhft.chronicle.sandbox.VanillaChronicle$VanillaAppender.startExcerpt(VanillaChronicle.java

[2014-02-08 15:54] #3 closed, assigned to nobody

[2014-03-25 06:53] cancan101 opened #7 "rdtsc clock"
What ever became of the native rdtsc clock found here: https://github.com/peter-lawrey/Java-Thread-Affinity/tree/master/src/main/java/com/higherfrequencytrading/clock ?

[2014-05-31 19:36] Cotton-Ben opened #10 "compatiblity of OS /bin/taskset PID affinty w/ OpenHFT Thread affinity"
I assume that if you use OpenHFT Java-Thread-Affinity to  map a particular Java VM's  thread set to a specific pinned cpu  that it would completely over-ride any prior use of /bin/taskset to map that same JVM's PID to a different pinned cpu, correct?

Could there ever be a scenario where both /bin/taskset and OpenHFT Java-Thread-Affinity could work together w synergy?

Or is it generally true that

[2014-06-09 14:29] littorio opened #11 "Thread-Affinity does not work on RHEL 5.6 - cpusetsize is too small"
Result is EINVAL on PosixJNAAffinity class loading (common cpusetsize's provided by the class are 8 and 4, while kernel requires 32 bytes).

[2014-08-07 17:44] khojes opened #12 "Exception in Affinity Package"
package javaapplication1;
import vanilla.java.affinity.AffinityLock;
/*
import vanilla.java.clock.ClockSupport;
import vanilla.java.clock.IClock;
import java.io.IOException;
import java.util.Random;
*/

public class JavaApplication1
{
    public static void main(String[] args)
    {
       AffinityLock al = AffinityLock.acquireLock();
        try {
            new Thread(new SleepRunnable(), "read

[2014-09-15 11:49] ront opened #14 "OSGi export packages"
Hi,

I have been deploying the affinity jar as a bundle into an OSGi container that already has SLF4J as a separate bundle. The SLF4J minor versions are different. The difference causes Link errors between the versions when loaded in an OSGi container.

Removing them from both the jar file and the MANIFEST fixes the issue and we get happy bundles. I'm happy to submit a pull request but just wanted

[2014-09-15 21:03] #4 closed, assigned to nobody

[2014-09-16 15:14] #14 closed, assigned to nobody

[2015-10-06 12:10] ChandanKumar0125 opened #23 "ExceptionInInitializerError occuring while try to run on Windows 7"
Exception in thread "main" java.lang.ExceptionInInitializerError
	at com.test.thread.Test.main(Test.java:11)
Caused by: java.lang.NullPointerException
	at java.util.BitSet.and(Unknown Source)
	at net.openhft.affinity.AffinityLock.getReservedAffinity0(AffinityLock.java:113)
	at net.openhft.affinity.AffinityLock.<clinit>(AffinityLock.java:46)
	... 1 more

Cause:  public static final BitSet BASE_AFFI

[2015-10-06 17:18] peter-lawrey commented on #23
This is bug in the NullAffinity implementation. I will add a fix.

This only appears if it fails to load the JNA in your application.  Which
version of JNA are you using?

On 6 October 2015 at 13:10, ChandanKumar0125 <notifications@github.com>
wrote:

[2015-10-07 07:06] ChandanKumar0125 commented on #23
I am using jna-4.2.0 the latest version available on github.

[2015-10-07 07:15] peter-lawrey commented on #23
And you don't see any errors before this one.... The problem is that unless
we can  figure out why the JNA is failing the library will only fall back
to an implementation which does nothing. Is it possible to debug this on
your system?
On 7 Oct 2015 8:07 am, "ChandanKumar0125" <notifications@github.com> wrote:

[2015-10-07 07:29] ChandanKumar0125 commented on #23
Hi Peter,

After debugging identified that it was not loading the jna as jna platoform was not available. So added the jna-platform-4.2.0 jar and it started working after that.

Thanks for your prompt reply. I'm going to explore little bit around the thread affinity and your support will be highly appreciated. Thanks again.

Cheers,
Chandan

[2015-10-07 08:14] peter-lawrey commented on #23
For the best results, try using affinity on isolated cpus eg linux.

You might like to try this class
https://github.com/OpenHFT/Java-Chronicle/blob/master/chronicle-demo/src/main/java/vanilla/java/processingengine/MicroJitterSampler.java
On 7 Oct 2015 8:29 am, "ChandanKumar0125" <notifications@github.com> wrote:

[2015-10-23 16:51] dongell opened #24 "Finalizer warnings"
Using v2.2 on Linux.  After a GC occurs, the following warning is logged for each of the reservable CPUs:

[Finalizer] WARN net.openhft.affinity.AffinityLock - Affinity lock for null was discarded rather than release()d in a controlled manner.

This is occurring because LOCK_INVENTORY is initialized inline with a NoCpuLayout, and then in the static initialization block the layout is overwritten wi

[2015-12-28 15:39] cballock commented on #23
Hi, Peter. I am experiencing this same problem reported by Chandan. But, even after importing the jna-platform-4.2.0 jar, the problem still occurs. Do you know what else could be done?

Disclosure: this is my first time using JNA.

[2015-12-28 16:04] cballock commented on #23
Complementing:

Affinity version: 3.0;
SO: Mac OS X Yosemite;
Java version: 1.8.0_65;

[2015-12-28 16:28] cballock commented on #23
Hi Peter. I was debbuging your code and noticed that the method getAffinity() in class OSXJNAAffinity always return null. That is what is causing my exception. Please, can you confirm that? If so, how can I use your library in Mac?

[2015-12-28 16:47] cballock opened #25 "Java Thread Affinity exception for Mac OS X (ExceptionInInitializerError)"
Hi, Peter. I am experiencing an exception when trying to use Java Thread Affinity in my Mac OS X (stack below):

Exception in thread "main" java.lang.ExceptionInInitializerError
	at Main.recursion(Main.java:46)
	at Main.main(Main.java:23)
Caused by: java.lang.NullPointerException
	at java.util.BitSet.and(BitSet.java:916)
	at net.openhft.affinity.AffinityLock.getReservedAffinity0(AffinityLock.java:

[2015-12-28 16:52] lburgazzoli commented on #25
Can you please provide all the dependencies you have and a snippet showing the exception?

[2015-12-28 17:34] cballock commented on #25
The full exception stack I've got is this:

Exception in thread "main" java.lang.ExceptionInInitializerError
at Main.recursion(Main.java:46)
at Main.main(Main.java:23)
Caused by: java.lang.NullPointerException
at java.util.BitSet.and(BitSet.java:916)
at net.openhft.affinity.AffinityLock.getReservedAffinity0(AffinityLock.java:113)
at net.openhft.affinity.AffinityLock.(AffinityLock.java:46)
... 2 mo

[2015-12-28 17:47] cballock commented on #25
My class:

import net.openhft.affinity.AffinityLock;

public class Main {

	public static final void main(String[] args) throws Exception {

		System.out.println("OS: " + System.getProperty("os.name"));
		System.out.println("Processors: " + Runtime.getRuntime().availableProcessors());

		int max = 10000;

		long nanos = System.nanoTime();
		Integer result = sum(max);
		nanos = System.nanoTime() -

[2015-12-28 18:13] lburgazzoli commented on #25
Looks like this bug has been solved in 3.0.1-SNAPSHOT you can grab from [Sonatype OSS](https://oss.sonatype.org/content/repositories/snapshots)

However thread affinity on OSX may not work as expected:

[code]

Taken from [Apple Affinity API](https://developer.apple.com/library/mac/releasenotes/Performance/RN-AffinityAPI)

[2015-12-28 18:27] cballock commented on #25
Thank you for your response. But I couldn't find the 3.0.1-SNAPSHOT in the Sonatype OSS (https://oss.sonatype.org/content/repositories/snapshots/net/openhft/Java-Thread-Affinity/). Please, can you confirm the repository url?

[2015-12-28 20:43] lburgazzoli commented on #25
Artifact is affinity so net/openhft/affinity

On Monday, 28 December 2015, cballock <notifications@github.com> wrote:

--
lb

[2015-12-28 23:33] cballock commented on #25
I've tried with the latest version but the problem still occurs. I've also inspected the method getAffinity() in class OSXJNAAffinity in that version and it always returns null. For me, it seems that this is the cause of my exception.

[2015-12-29 06:59] lburgazzoli commented on #25
Latest 3.0.1-SNAPSHOT ?

[2015-12-29 07:21] peter-lawrey commented on #23
It should be noted that CPU Affinity is not supported by the Mac OSX
operating system. While we could work to resolve the error this wouldn't do
what you would want. This is just to keep the functionality consistent as
possible across OSes.

Regards, Peter.
On 28 Dec 2015 4:28 pm, "cballock" <notifications@github.com> wrote:

[2015-12-31 02:37] cballock commented on #25
Sorry, I've tested with version 3.1, not 3.0.1. Now it works. Thank you very much!

[2015-12-31 02:43] #25 closed

[2016-03-23 12:13] janmoller opened #28 "More than 64 CPUs"
Have a 4 socket system (12 cores on each socket) running Linux. Total 48 cores / 96 CPUs with hyper threading and hit:
[code]
Found the cause in the code in LinuxJNAAffinity.java:
` // TODO: FIXME!!! CHANGE IAffinity TO SUPPORT PLATFORMS WITH 64+ CORES FIXME!!!
`
I guess that 64+ CPUs is not that far in the future to be the norm.
A fix would be highly appreciated.

[2016-03-23 12:15] plusterkopp commented on #28
Actually, I have a fix for this for Windows, with hardware introspection to determine CPU layout using Windows API calls. Some Interfaces need to be extended though.

[2016-03-23 14:14] peter-lawrey commented on #28
The code should work in 3.0.4-SNAPSHOT.  Are you able to check that it
does? We don't have a >64 CPU machine to test it on.

On 23 March 2016 at 12:13, Jan Moller <notifications@github.com> wrote:

[2016-03-23 14:20] plusterkopp commented on #28
I can only test for Windows, with 80 cpus, there it works.

[2016-03-25 16:57] janmoller commented on #28
Sounds great. Will check right after easter.

[2016-03-27 06:30] janmoller commented on #28
Cloned the master branch to a Linux box, did a 'mvn package' and got:

[code]

So it appears that affinity built fine, but affinity-test failed. I wonder why the **test** refers to "3.0.1-SNAPSHOT" when building "3.0.4-SNAPSHOT" . I am afraid I do not know a lot about maven.

[2016-03-27 07:50] peter-lawrey commented on #28
Hello Jan,
   You can built the affinity sub-module stand alone, but you are right
this should have been the same version.  I have fixed it now.

Regards,
   Peter.

On 27 March 2016 at 07:30, Jan Moller <notifications@github.com> wrote:

[2016-03-27 08:55] janmoller commented on #28
Since I am using gradle I rely on the OpenHFT package from maven central. I am afraid that I don't know maven well enough to get the plumbing right with a mvn project embedded directly inside a gradle project...

However, if I could build the complete OpenHFT package with  maven (including tests) on my box then I guess everything is perfect, and I can wait until 3.0.4 is released and include it in

[2016-03-27 09:05] peter-lawrey commented on #28
Ok, I will do a release today.

On 27 March 2016 at 09:55, Jan Moller <notifications@github.com> wrote:

[2016-03-27 17:25] janmoller commented on #28
Affinity.setAffinity(int cpu) and Affinity.getThreadId() verified to work on a 96 CPU system running CentOS Linux & Java-Thread-Affinity 3.0.4.
Thanks.

[2016-03-27 17:25] #28 closed

[2016-03-27 20:23] peter-lawrey commented on #28
Excellent news.

To get best results,I suggest using isolcpus= on boot up, configure
IRQBlanace to not use those CPUS and busy wait.

Regards,
   Peter.

On 27 March 2016 at 18:25, Jan Moller <notifications@github.com> wrote:

[2016-07-24 07:15] #7 closed

[2016-07-24 07:16] peter-lawrey commented on #2
Duplicate of https://github.com/OpenHFT/Java-Thread-Affinity/issues/10

[2016-07-24 07:16] #2 closed

[2016-07-24 07:17] peter-lawrey commented on #11
This has been fixed.

[2016-07-24 07:17] #11 closed

[2016-07-24 07:20] #12 closed

[2016-07-24 07:24] #23 closed

[2016-07-24 09:03] peter-lawrey opened #29 "Enhancement"
Add support for tracking the CPUs bound in a directory such as `OS.TMP+"/thread-affinity"`

In this directory create a file for each CPU bound and which process has locked it (as well as when)

On Linux, When attempting to lock a CPU check this file doesn't exist first.  If there is no free CPUs, check the processes which have locked the CPU are still running e.g. `/proc/{pid}` exists.

As a part

[2016-07-29 12:11] #29 closed

[2016-08-12 18:35] aconstnull opened #30 "Possible bind issue with AffinityThreadFactory"
Hey,

I'm using `AffinityThreadFactory` and noticed something interesting:
Having created a bunch of threads using it, along with isolcpus - I found that only the _first_ thread created by the factory had its `Cpus_allowed_list` updated in /proc.
If this is expected behaviour - no problems :)
Otherwise, the offender appears to be here in AffinityThreadFactory:
`
@Override
            public void r

[2016-08-13 06:52] aconstnull commented on #30
Related: updates to lastAffinityLock are not synchronised which can cause issues. (The create thread method is synchronised but there is no synchronisation around reading / updating the lastAffinityLock member when working out how to acquire our next lock)

[2016-08-13 07:49] RobAustin opened #31 "updates to lastAffinityLock are not synchronised which can cause issues."
From: "aconstnull" <notifications@github.com>
Date: 13 Aug 2016 16:52
Subject: Re: [OpenHFT/Java-Thread-Affinity] Possible bind issue with AffinityThreadFactory (#30)
To: "OpenHFT/Java-Thread-Affinity" <Java-Thread-Affinity@noreply.github.com>
Cc:

Related: updates to lastAffinityLock are not synchronised which can cause issues. (The create thread method is synchronised but there is no synchronisa

[2016-08-13 07:51] RobAustin commented on #31
duplicated issue with  (#30) so removing.

[2016-08-13 07:51] #31 closed

[2016-08-23 11:41] puntogil opened #32 "build problem"
hi
 i get:

UnsatisfiedLinkError: software.chronicle.enterprise.internals.impl.NativeAffinity.getProcessId0()I
running these test
affinity/src/test/java/net/openhft/affinity/impl/NativeAffinityImpTest.java
affinity/src/test/java/net/openhft/ticker/impl/JNIClockTest.java
on
Apache Maven 3.3.9 (NON-CANONICAL_2016-04-07T23:15:34Z_mockbuild; 2016-04-08T01:15:34+02:00)
Maven home: /usr/share/maven
Java

[2016-08-23 21:52] peter-lawrey commented on #32
Hello puntogil,
   The JNI implementation should work on Linux if the Path is setup to
include the shared library.
    We would like to support ARM buy haven't had the resources to do this
to date.

Regards, Peter.

On 23 Aug 2016 21:42, "puntogil" <notifications@github.com> wrote:

[2016-09-23 15:34] RobAustin commented on #24
@dongell could you raise a pull request with this change and I'll merge it in

[2016-11-25 21:16] #32 closed

[2016-11-25 23:09] puntogil commented on #32
Fedora Linux support different arches (i386, i486, i586, i686, pentium3, pentium4, athlon, geode, x86_64, sparc, sparcv9, ia64, aarch64, armv3l, armv4b, armv4l, armv4tl, armv5tel, armv5tejl, armv6l, armv6hl, armv7l, armv7hl, armv7hnl, alpha, s390x, ppc, ppc64, ppc64le,  s390, s390x), perhaps you could use our os, to develop your software on/for Unix-like environment
regards

[2016-11-25 23:26] peter-lawrey commented on #32
Hello,
  The problem is we need to be able to run tests on each of those hardware
to know the solution works. We are using Unsafe operations which work fine
on x64, but we know don't work the same on ARM.

Regards,
  Peter.

On 25 November 2016 at 18:09, puntogil <notifications@github.com> wrote:

[2016-12-06 11:16] bistvan opened #33 "net.openhft.affinity.impl.VersionHelper#isSameOrNewer()"
The VersionHelper#isSameOrNewer() method wrongly compares the 2.6 to 3.0.

[2017-03-27 17:05] plusterkopp opened #34 "PosixJNAAffinityTest#testGettid fails"
On this CentOS machine (2x18 cores, SMT), I get thread IDs like 121295. This fails when testGettid asserts tid < 2^16. What is the reason for that assumption? Thread#tid is defined as long and set from Thread.threadSeqNumber, which is long, too.

[2017-03-27 21:48] peter-lawrey commented on #34
Thread.tid is an incrementing counter for the process starting at 1.
Not to be confused with the thread id given to the thread by the OS.
Typically OSes give thread IDs which are 16-bit however Linux for example
can be tuned to allow more.
It is possible the test isn't valid, it would need to be reviewed.
ᐧ

On 27 March 2017 at 18:05, plusterkopp <notifications@github.com> wrote:

[2017-03-28 11:20] plusterkopp commented on #34
Actually, in **PosixJNAAffinityTest** we have
`
tid = Thread.currentThread().getId();
...
assertTrue(tid < 1 << 16);
`
with
`public long getId() {
        return tid;
    }`
in **Thread** and
`tid = nextThreadID();` in `Thread#init(...);`
is there a native ID, too? Where? And where is `threadSeqNumber` being initialized?

[2017-03-28 17:10] peter-lawrey commented on #34
That test only makes sense if the getId() has been overwritten with the
actual OS pid of the thread.
ᐧ

On 28 March 2017 at 12:20, plusterkopp <notifications@github.com> wrote:

[2017-05-08 04:17] caoli5288 opened #35 "Issue with AffinityThreadFactory in netty. Use only one cpu"
Env netty-4.1.9 and newest java-thread-affinity
[code]
![qq20170508121629](https://cloud.githubusercontent.com/assets/3120587/25790054/588da402-33e8-11e7-96c3-143af455976e.png)

[2017-05-08 05:56] peter-lawrey commented on #35
Can you clarify what the issue is? Are you saying all threads are using the
same cpu?

On 8 May 2017 05:18, "Zhang" <notifications@github.com> wrote:

Env netty-4.1.9 and newest java-thread-affinity

ThreadFactory threadFactory = new AffinityThreadFactory("atf_wrk",
AffinityStrategies.DIFFERENT_CORE);EventLoopGroup workerGroup = new
NioEventLoopGroup(nThread, threadFactory);...

[image: qq20170508

[2017-05-08 05:56] peter-lawrey commented on #35
Can you clarify what the issue is? Are you saying all threads are using the
same cpu?

On 8 May 2017 05:18, "Zhang" <notifications@github.com> wrote:

[2017-05-08 11:36] caoli5288 commented on #35
Yes. All threads use the same cpu.

[2017-05-08 15:26] caoli5288 commented on #35
I change the factory name to "netty-io" and dump the threads.
![](https://cloud.githubusercontent.com/assets/3120587/25810949/37705be6-3444-11e7-9f90-fecb18baa905.png)
All theads seems bind the same core that only one core had load in system top view.

[2017-05-08 17:23] peter-lawrey commented on #35
Can you run AffinityThreadFactoryMain

On my machine I get the following showing different cpus.

[bg] INFO net.openhft.affinity.AffinityLock - No isolated CPUs found, so
assuming CPUs 1 to 7 available.
[bg] INFO net.openhft.affinity.AffinityLock - Assigning cpu 6 to
Thread[bg,5,main]
[bg-3] INFO net.openhft.affinity.AffinityLock - Assigning cpu 5 to
Thread[bg-3,5,main]
[bg-4] INFO net.openhft.aff

[2017-05-08 20:48] caoli5288 commented on #35
@peter-lawrey Yes. I have made a custom `ThreadFactory` extends yours to log which cpu they used.
[code]

I got those log output. seems in diff cpus.
[code]

But load still in a same cpu core in top view :(
what happen?

[2017-05-09 01:43] caoli5288 commented on #35
@peter-lawrey Use `AffinityThreadFactory` in only worker group got balanced cpu usage. Puzzling. This may be related to netty's impl.
Once it is applied to the boss group, cpu load will focus on the first boss thread. Puzzling.

[2017-05-11 18:05] maseev commented on #30
Has this problem been fixed by any chance? Looks like this ticket hasn't been getting any attention since October 2016 :worried:

[2017-08-14 14:07] eix128 opened #36 "can you add that kind of functionality at runtime java ?"
I want disable 1 core of cpu for OS completely and assign this core to my java thread.
I have seen this stackoverflow solution as "Linux only" and not java based
https://stackoverflow.com/questions/9072060/one-core-exclusively-for-my-process
Can we add these instructions on Thread Affinity as "Native"
Also for Windows and Solaris ?

[2017-08-14 14:34] peter-lawrey commented on #36
You can use affinity to bind a thread to a CPU or core however isolating a
cpu is a Linux feature AFAIK and without isolation I haven't found affinity
to make a useful difference.

Regards Peter

On 14 Aug. 2017 3:07 pm, "jduke32" <notifications@github.com> wrote:

[2017-09-03 16:30] FauxFaux opened #37 "Fails to build on Java 9: sun.misc.URLClassPath is gone"
In Java 9, due out in ~two weeks, the `sun.misc.URLClassPath` no longer exists.
It has always been an implementation detail they were free to remove at any time. Please stop using it.

[code]

[2017-09-03 16:33] FauxFaux commented on #37
I've just noticed https://github.com/OpenHFT/Chronicle-Bytes/issues/40 so maybe someone is already working on it. FYI `chronicle-core` and `chronicle-wire` also fail for me, but I won't be raising bugs.

[2017-09-03 16:43] TerryW9 commented on #37
Hi FauxFaux,

Thank you for pointing this issue out to us.

We will look into it as soon as possible.

Best Regards,
Terry

[2017-09-04 09:20] epickrram commented on #37
Thanks for the report @FauxFaux . This is fixed in da19214.
Java9 compatibility for all OpenHFT projects is currently work-in-progress.

[2017-09-04 09:20] #37 closed

[2017-09-15 10:30] RobAustin opened #38 "question - single thread implementation."
Yes, I follow the tutorial in https://github.com/OpenHFT/Java-Thread-Affinity/README.md

The file path of the test Java program is in affinity/src/test/java/net/openhft/affinity/AffinityLockBindMain.java

The purpose of my modification is that I want to bind main thread to one specific CPU.

But I don't know how to do it right now. I am not sure how to implement it since I haven't fully understand

[2017-09-15 10:32] #38 closed

[2017-09-18 05:23] boazavital commented on #33
Opened pull request #39

[2017-09-19 17:59] boazavital commented on #33
Should close from #39

[2017-09-20 10:45] #33 closed

[2017-11-09 11:19] RobAustin opened #40 "Centos 6.9 support for thread affinity"

[2017-11-09 11:22] RobAustin commented on #40
BTW While 6.x was first released in 2011, it is still supported by RedHat so we should probably support it which means we need a server or virtual server running it to run builds on. I am not sure it needs it's own teamcity agent.

----

The affinity is only useful if you have isolated CPUs.
Even if affinity worked, without isolation it can only cause issues.

Never the less we are open to support

[2017-11-09 12:00] epickrram commented on #40
This is due to upgrading to a newer version of jna (on 01/07/2017) in third-party-bom.

Downgrading will solve the issue - there is no comment as to why the version was upgraded, assuming good practice.

Alternatives are to override the jna artifact version in the project pom, or do some maven magic with dependency hierarchy to allow the version number to be parameterised.

[2017-11-09 12:02] RobAustin commented on #40
Could you downgrade it for now and re-release the third-party-bom

[2017-11-09 12:11] epickrram commented on #40
released 3.6.1

[2017-11-09 12:11] #40 closed

[2017-11-09 12:16] RobAustin commented on #40
thanks

[2017-12-06 04:15] vamshigunji183 commented on #12
/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
package threaddemo;
//import Thread;

/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the edit

[2017-12-06 08:14] peter-lawrey commented on #12
Have you included the slf4j library? If you use maven it includes it for
you.
ᐧ

On 6 December 2017 at 04:15, Venkata Vamshi Krishna Gunji <
notifications@github.com> wrote:

[2017-12-15 18:42] tbabinski opened #41 "Split packages cause error with Java 9"
The affinity library defines classes in the `java.lang` package.  This is not allowed in Java 9, since the `java.lang` package is already exported by the `java.base` module

Here is the error:

[2017-12-29 14:40] #35 closed

[2017-12-29 14:42] #36 closed

[2017-12-29 14:43] #1 closed

[2017-12-29 14:43] #34 closed

[2018-01-02 15:33] RobAustin commented on #10
closing as this was answered on 31 May 2014

[2018-01-02 15:33] #10 closed

[2018-01-03 14:57] epickrram commented on #41
This is due to the fact that `ThreadTackingGroup` needs to override package-private methods on the `java.lang.ThreadGroup` class.

Java 9 support for Chronicle libraries is on-going, this will be added to the backlog.

[2018-01-04 10:14] epickrram opened #42 "Lock files not removed after lock is released."

[2018-01-04 10:20] #42 closed

[2018-01-04 16:03] #24 closed

[2018-01-04 16:55] #30 closed

[2018-01-08 10:00] tckb commented on #25
is this currently supported in macOS? looks like it doesn't. I ran the same program as @cballock , here's my output.
[code]
Here are my dependencies:

[code]

@peter-lawrey  can you weigh in?

[2018-01-08 10:07] RobAustin commented on #25
@cballock I do chronicle development using a mac, and yes it was also my understanding that the this library does not work on the mac.

[2018-01-08 10:10] tckb commented on #25
@RobAustin  assuming it's addressed to me :) , was there any specific reason it's not supported anymore? the original repo from @peter-lawrey  had some traction on osx.

[2018-01-08 10:12] RobAustin commented on #25
@tckb we have not do the work to get it working on the mac

[2018-01-08 10:13] RobAustin commented on #25
@tckb are you you able to fix/implement the osx implementation ?

[2018-01-08 10:14] tckb commented on #25
@RobAustin  I am not sure, I've just started looking into it. will update it if I can find any reasonable solution.

[2018-01-08 10:15] RobAustin commented on #25
@tckb if you are able to ( please issue a pull request ) and we can merge in your changes.

[2018-01-11 11:05] RobAustin opened #43 "Affinity should respects the cpuId if greater than 0"
We had the following issue reported in an email - I think I’ve found a bug in the Affinity code:

When you acquire a lock you go through this code:
[code]

which then ends up here (unfortunately I can only decompiled code but you should be able to see it in your environment)
[code]
Assume I have the cpuId set to 4 on an 8 cpu machine.

It will still return 7 (if cpu 7 can be reserved)

Because of

[2018-01-11 12:01] #43 closed

[2018-01-21 14:21] ariksher-nex opened #44 "cross process Affinity"
Hi,

I tried to use the AffinityLock.acquireCore(). it looks good and seems that it does lock specific Core to a thread. however, when I run 2 (similar) processes on same machine it looks like the seconds process locks on same Core, as the first app. here are the dumps of 2 apps (I run on my desktop, only 4 cores):

_dump of App 1:_
0: General use CPU
1: Reserved for this application
2: Thread[nam

[2018-01-22 09:13] epickrram commented on #44
Are you using the latest version from master? Some fixes have been made in this area recently.

If the problem persists, can you share the output of `lscpu` (assuming you're on Linux), and check on the presence and content of any files matching
`$java.io.tmpdir/cpu-*.lock`

[2018-01-22 14:18] ariksher-nex commented on #44
i'm using version 3.1.7 (took it from maven global repo).
my output is when running on windows 10 desktop machine. not linux (yet).

[2018-01-22 14:31] epickrram commented on #44
So can you check for files in the temp directory when your program is running and check that you see lock files?

[2018-01-22 15:05] ariksher-nex commented on #44
my java.io.tmpdir is C:\Users\asher\AppData\Local\Temp
my process is running but i don't see any file named cpu*.lock

[2018-01-22 15:13] epickrram commented on #44
Support for non-Linux platforms is incomplete:

https://github.com/OpenHFT/Java-Thread-Affinity/blob/master/affinity/src/main/java/net/openhft/affinity/LockCheck.java#L145

[code]

On Windows, there is no handling of CPU reservation between multiple processes. Try your program on a Linux system to see whether the problem occurs there.

[2018-01-22 15:13] #44 closed

[2018-01-22 16:31] ariksher-nex commented on #44
ok will try thanks.

[2018-04-22 14:55] hepin1989 opened #45 "allow me to return an special Thread subclass."

[2018-04-23 12:16] dpisklov commented on #45
Can we have some more appropriate description of what the issue is?

[2018-04-23 12:16] #45 closed

[2018-05-11 14:26] RobAustin opened #46 "Changed Affinity lock files to make use of file locks which get released on kill -9"
Affinity locks ( are used to ensure that threads are bound exclusively to a CPU core), we currently use files for this. The problem with using files is that the files are not removed if the process is kill -9'd.

A solution would be to add a lock to the file, locks on files are removed when the process is killed using 'kill -9'

We should ensure that when the  file is created,  it must be created

[2018-05-14 13:42] andrm commented on #41
Can't run my chronicle queue application on Java 10 :(. Is there a workaround for this?

[2018-05-15 09:59] dpisklov commented on #41
@andrm Not yet I'm afraid. Our next target Java release we will support is Java 11, which is coming in September (as most commercial clients of ours will be migrating from 8 to 11 after 8 is EOL). At the moment we have no clients who are using versions past Java 8. However if you're interested in commercial support please contact sales@chronicle.software

[2018-05-16 13:54] andrm commented on #41
Thanks. Workaround: Run everything on the classpath. Works with Java 10.

[2018-07-03 15:20] tomshercliff commented on #46
@peter-lawrey - a couple of questions on this as I'm not familiar with how exactly the majority of users are using affinity...
1/ When trying to acquire the lock on a cpu via one of the various acquireLock methods, if we are unable to acquire the lock then the LockCheck.updateCpu method will simply catch the IOException, log a warning ("Failed to update lock file...") and the current thread will c

[2018-07-04 12:30] #46 closed

[2018-07-20 09:22] RobAustin commented on #41
For clarity - This is not required for the 9 java compatibility, in other words this code should run on java 9 but it will only cause an issue if it is compiled with java 9. We are not planning to do this in the near future, so for now closing as wont fix.

[2018-07-20 09:22] #41 closed

[2018-09-07 15:41] peter-lawrey opened #48 "If one user holds a lock but doesn't release it, another user can't free it."
Different users should be able to share affinity on a machine.

[2018-09-11 10:50] #48 closed

[2018-09-26 22:50] hft-team-city commented on #48
Released in Java-Thread-Affinity-3.1.10 (https://github.com/OpenHFT/Java-Thread-Affinity/releases/Java-Thread-Affinity-3.1.10), BOM-1.16.201 (https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-1.16.201)

[2019-04-03 13:22] paxel commented on #28
mmh. I'm using 3.1.11 and get problems using the AffinityThreadFactory.

The FileLockBasedLockChecker has an Array with  with locks the size of VanillaCpuLayout.MAX_CPUS_SUPPORTED.

What am I doing wrong? 2 numa nodes, 72 CPUs

[2019-04-04 11:43] plusterkopp commented on #28
Am 03.04.2019 um 15:22 schrieb paxel:

I started a fork of this project in 2015 when I found that it was
lacking introspection support on Windows. I then used the Windows API to
get the CPU layout. This API also provides information about CPU groups
(needed for > 64 lCPUs), NUMA nodes and all cache levels.

Since I actually wanted to reduce cache misses more than lock CPUs to
cores, this was what

[2019-05-22 17:14] Allchin commented on #46
HI @peter-lawrey   @tomshercliff

I got " Unable to acquire lock on CPU 3 "
when running test  AffinityLockBindMain.java  on my centos 7.

I checked all the configurations :
1.isolcpu and rebooted
[root@localhost tester]# cat /proc/cmdline
BOOT_IMAGE=/vmlinuz-3.10.0-514.el7.x86_64 root=/dev/mapper/cl-root ro crashkernel=auto rd.lvm.lv=cl/root rd.lvm.lv=cl/swap rhgb quiet LANG=zh_CN.UTF-8 isolcpus=

[2019-05-22 17:58] dpisklov commented on #46
Check that you have write access to /tmp and there's no preexisting file
/tmp/cpu-3 need by some other user.
Otherwise it would be good to see how do you acquire the lock

On Wed, 22 May 2019, 18:20 Allchin, <notifications@github.com> wrote:

[2019-08-26 07:08] wallezhang opened #52 "How can I bind a cpu to multithread?"
I want to bind a cpu to any thread that is generated from a thread pool. But the AffinityThreadFactory can't bind a cpuid. And so I use `acquireLock(cpuid)` method in each thread, but it doesn't work. Only one thread can bind successfully, the second thread can't bind the same cpu because of first thread is already bound.

[2019-08-26 08:18] RobAustin commented on #52
you could try using taskset  -> https://linux.die.net/man/1/taskset

[2019-08-26 08:35] RobAustin commented on #52
I don't believe that your issue above is a bug, rather it is a feature request, and this is currently functionality that is not available in this version. if you would like to tackle this work yourself and wish to add this functionality, we always gratefully accept pull requests.

[2019-08-26 08:35] #52 closed

[2019-08-26 08:35] wallezhang commented on #52
I have a thread pool with 200 core threads, if I use `taskset`, I must to wait all threads are created. And if the queue of thread pool is full, more threads will be created, it's not under my control. I want to bind all threads created by a thread pool to a specified cpu. I have already isolate that cpu from system scheduler.

[2019-08-26 08:46] RobAustin commented on #52
If you would like us to add this feature on a commercial basis please contact sales@chronicle.software

[2019-08-27 01:13] plusterkopp commented on #52
Am 26.08.2019 um 09:08 schrieb ZhangZhaoyuan:

I created my own fork some years ago to add this feature, plus the
ability to use the Windows API to get cpu layout information. My fork
can bind threads to individual CPU cores, sockets, numa nodes and cpu
groups (used by windows to create masks the fit into a 64bit long). This
year I finally added binding to a specific cache, which is what I wanted

[2019-08-27 03:54] wallezhang commented on #52
I am going to do the experiment with the `taskset` command first. If there is performance improvement for the application, then I will try to add this function.

[2019-11-14 05:42] yujg1992 opened #53 "Exception when acquire cpu lock"
import net.openhft.affinity.AffinityLock;
/*
import vanilla.java.clock.ClockSupport;
import vanilla.java.clock.IClock;
import java.io.IOException;
import java.util.Random;
*/

public class test
{
    public static void main(String[] args)
    {
        AffinityLock al = AffinityLock.acquireLock();
        try {
            new Thread(new SleepRunnable(), "reader").start();
            new Thread(n

[2019-11-15 23:07] dpisklov commented on #53
I don't think Windows is supported for CPU affinity (and it's pointless anyway, running something on Windows is slow enough to see no difference from CPU pinning).
@peter-lawrey do we support Windows for affinity?

[2019-11-16 00:51] plusterkopp commented on #53
On 16.11.2019 00:07, Dmitry Pisklov wrote:

actually, it does work. A couple of years ago, I added CPU layout
detection using the windows API with gives CPU masks for cores, sockets,
all caches, NUMA nodes and CPU groups (which on windows overcome the 64
cpu limit).
Affinity is pretty much required if you want to use all CPUs on a large
machine. Out of the box, on a machine with, say 4 sockets and

[2019-11-18 20:14] dpisklov commented on #53
@plusterkopp well looks like doesn't work for everyone - code TS supplied works perfectly for me on my linux machine.

[2019-12-02 11:16] JoyRichB commented on #53
從我的iPhone傳送

[2019-12-09 07:49] peter-lawrey opened #54 "Make configuration from a file/text easier"

[2019-12-09 07:56] #54 closed

[2019-12-22 17:48] Chazza opened #56 "Hide Logging"
Hi,

How would I go ahead with silencing all the debug messages? Any chance you can make this done via a toggle as it's for a public java resource.

Thanks.

[2020-01-02 12:04] dpisklov commented on #56
@Chazza we use [slf4j](http://www.slf4j.org/), please refer to the doc on how to change log levels

[2020-01-02 12:04] #56 closed

[2020-02-06 03:18] danke02 opened #57 "Executing other threads in pinned thread"
Hello.
First, thank you for your great product.
I've been using chronicle java thread affinity for low latency for years.
Recently I found something weird behavior. I guess this is not a problem of java-thread-affinity but a nature of jvm or OS.
I'm running a thread pinned to isolated core to process data . And I wanted other handlers handle those data on general cores. I used thread pool to execu

[2020-03-03 17:01] martinroucek opened #58 "Library does not work in eclipse and sonar"
Hi,

our company use Java-Thread-Affinity in our project. Unfortunately after upgrade from OpenJDK 8 to OpenJDK 11 Java-Thread-Affinity started cause problems with sonar analysis (https://www.sonarqube.org). The sonar analyzer uses Eclipse java compiler (ECJ) to create abstract syntax tree. I've setted up the minimalistic project for demonstration:

Project: https://github.com/martinroucek/sonar-e

[2020-03-04 14:08] dpisklov commented on #58
None of us (developers) uses Eclipse I'm afraid, and at the moment we don't have any capacity to play with it. That said, we are happy to accept PRs

[2020-03-19 19:04] yooniks opened #59 "Exception | AssertionError"
Hello! I'm making some application, and when one of my customer run it on his vps, it shows him:
https://hastebin.com/sobozuseco.xml
How can I fix it?

[2020-03-19 19:12] dpisklov commented on #59
I don't think it makes much sense to use thread affinity on VPS (which by definition shares resources, and you can't control CPU allocation). So I suggest you simply disable affinity.

[2020-03-20 16:34] dpisklov commented on #57
Yes, IIRC you're right and this is the behaviour defined by OS - any threads spawned by thread A derive A's affinity.

[2020-04-04 00:43] danke02 commented on #57
Thank you for your answer.
If it's a default behavior of OS, what do you think will be a best practice to start a task with thread pool? As far as I understand, I must not use ThreadPool or start a new Thread in a thread running with affinity to avoid inheriting parent's affinity and competing with parent to get isolated CPU. What I'm worrying about is a possibility that someone who doesn't know m

[2020-04-06 13:32] dpisklov commented on #57
I think your way should work, but it's a bit cumbersome.
We (chronicle) have an alternative solution. Have a look at [Chronicle-Threads](https://github.com/OpenHFT/Chronicle-Threads) project, in particular - EventGroup.

[2020-04-17 03:45] JerryShea commented on #59
Unfortunately even when trying not to use affinity the AffinityLock static block ends up being called by e.g. VanillaEventLoop. I've made a change so that we log.warn the error and keep going.

[2020-04-17 03:45] #59 closed

[2020-04-17 03:53] hft-team-city commented on #59
Released in [Java-Thread-Affinity-3.2.3](https://github.com/OpenHFT/Java-Thread-Affinity/releases/Java-Thread-Affinity-3.2.3), [BOM-2.19.101](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.101)

[2020-04-17 03:53] hft-team-city commented on #56
Released in [Java-Thread-Affinity-3.2.3](https://github.com/OpenHFT/Java-Thread-Affinity/releases/Java-Thread-Affinity-3.2.3), [BOM-2.19.101](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.19.101)

[2020-04-27 17:18] m-anthony commented on #58
@martinroucek : what version of Eclipse are you using ? I remember that my company has this kind of weird message when we migrate to Java 9 with an older Eclipse than the one I use currently.

If I try to use JTA in a Java 11 project on Eclipse 2019-06 powered by a Java 11 JVM, I have this error message :
[code]
I assume we have the same issue, but you are using an older eclipse which does not han

[2020-05-23 14:59] hyperxpro commented on #52
Any success?

[2020-05-26 11:28] dpisklov opened #61 "Review the fork with new features and merge as appropriate"
As commented by @plusterkopp in #52, he created a [fork](https://github.com/plusterkopp/Java-Thread-Affinity) and added new features - need to review the fork and merge as appropriate

[2020-05-26 11:51] plusterkopp commented on #61
Please note this was many years ago and that version needs Java 8 to compile.
I also tried to leave all original Interfaces untouched.
I shall also put some more comments on everything, if needed.
Anyway, since I never looked back and merged, the two forks must have diverged a lot. But I think I left the original classes largely intact.

[2020-05-26 14:44] dpisklov commented on #61
@plusterkopp sure thanks!

[2020-05-28 20:16] The-Alchemist commented on #58
Might also be relevant to some users: https://stackoverflow.com/a/62073700/423943

[2020-06-01 23:04] dsmonkey opened #62 "NullPointerException in LockCheck.getProcessForCpu()"
We recently got an NPE with multiple threads in multiple processes executing AffinityLock.aquireLock() on the same machine. We specify the CPUs each process can use so they don't conflict.

java.lang.NullPointerException
at net.openhft.affinity.LockCheck.getProcessForCpu(LockCheck.java:120)
at net.openhft.affinity.LockCheck.isCpuFree(LockCheck.java:67)
at net.openhft.affinity.AffinityLock.canReser

[2020-06-01 23:09] dsmonkey commented on #62
I see the the latest version updates LockCheck.isCpuFree() to catch RuntimeException, so this may not be an issue any more

[2020-06-02 00:27] #62 closed

[2020-07-18 17:10] marksantos opened #63 "FileLockBasedLockChecker error attempting to release locks held by other processes"
To control which CPUs a specific-process can be pinned to in a multi-process affinity-enabled environment,  the setting **affinity.reserved** can be specified to reserve specific CPUs per application.

When running multiple-applications with different reserved CPUs - the following error message can occur

This seems to be due to ThreadAffinity checking the state of ALL lockfiles before checking wh

[2020-07-18 19:51] RobAustin commented on #63
Thanks for this very detailed description. Would you be able to issue a pull request to fix this ?

[2020-07-19 09:07] RobAustin commented on #58
Thanks for the detailed description above. Please note, pull requests are always welcome, If it’s possible to fix this by changing the code, If anyone wants to take on this issue, we are always pleased to receive and merge in your pull requests.

[2020-09-16 06:18] peter-lawrey opened #65 "Allow an AffinityLock to be release without resetting the current thread."
This is an expensive operation and not needed if the thread is about to die anyway.

[2020-09-16 13:50] #65 closed

[2020-11-26 08:19] m-anthony opened #67 "-Daffinity.reserved not working when the bitmask is more than 64 bits longs"
Although affinity is working correctly on a 64+ core system, we cannot specify such a bitmask through -Daffinity.reserved
Cf net.openhft.affinity.AffinityLock.getReservedAffinity0()

I fixed the parsing locally and managed to make it work on a 96-core system, I will shortly provide a PR

[2020-11-26 09:08] peter-lawrey commented on #67
We have added some support to use a BitSet instead of a long. Can you use a BitSet instead?

[2020-11-26 11:50] #67 closed

[2021-01-06 16:41] Umartahir93 opened #69 "Exception in thread "Processor-MT" java.lang.NoClassDefFoundError: net/openhft/affinity/AffinityLock Occurred in Docker Image"
I am trying to run this library in docker image, but getting the following exception
[code]

I am not sure why this error is occurring if I run my project in my host machine aka without creating images it gets to run smoothly. Problem is only arising in docker images.

[2021-01-16 20:14] vemv commented on #69
Hi, I'm not a contributor to this repo but I think it helps pointing out that this issue lacks sufficient information:

* How to reproduce?
  * e.g., what is a minimal Dockerfile with your attempt?

`java.lang.NoClassDefFoundError: net/openhft/affinity/AffinityLock` looks like a pretty vanilla error to me - are you experienced setting up Maven dependencies in a docker-based setup?

If not, you cou

[2021-02-01 10:57] jivrajkainth commented on #57
I have also encountered this issue and looking for an elegant solution.  Not sure I can move to using Chronicle-Threads as looks like it would require significant changes in my application.
So question is how can I initiate the creation of a thread from a pinned thread but ensure the new thread does not get pinned to the same Core.  Can I use ThreadGroup to control the behaviour?

[2021-03-04 09:15] yhryyq opened #70 "Run "mvn package" fail in shell"
First, I can run `mvn package` in Ubuntu command line. A part of result as below:

[code]

Then, I write a execute.sh as below:

[code]

When I run execute.sh. I got:

    [INFO] --- exec-maven-plugin:1.2.1:exec (build-native) @ affinity ---
    mkdir -p ../../../target/classes/jni
    javah -force -classpath ../../../target/classes -d ../../../target/classes/../jni software.chronicle.enterprise.i

[2021-05-13 01:28] JerryShea opened #71 "TeamCity Java 11 build fails"
Relates to #58

[2021-05-13 04:22] nicktindall commented on #71
I did some reading on this, firstly I'm not sure what the test is for, but the way it's trying to resolve the bootstrap classpath won't work in Java 9 and beyond. It sounds like the nature of bootstrap classloading has changed significantly since the module system was introduced.

See https://www.oracle.com/java/technologies/javase/9-relnotes.html

It sounds like adding classes to `java.lang` isn'

[2021-05-14 10:34] peter-lawrey commented on #71
This class is only used for `Affinity.isNonForkingAffinityAvailable` so it can determine if affinity should be clearer when threads are created.

This uses functionality written by Mr Bartok in 2014.

[2021-05-14 10:34] #71 closed, assigned to nobody

[2021-05-14 10:38] peter-lawrey commented on #71
We don't need this feature as we use CleaningThread which resets the affinity when started.

[2021-05-18 00:39] #63 closed

[2021-05-18 00:40] JerryShea commented on #63
@marksantos that was a somewhat delayed close ;)

[2021-05-26 23:22] #58 closed

[2021-05-29 19:48] thhart opened #72 "Fallback strategies when no cpu available"
I am wondering what is happening when there are:
A) no CPUs are isolated
B) JNA is not available
Is the AffinityThreadFactory still working or is it blocking?

[2021-05-29 20:33] thhart opened #73 "Threads to isolated CPUs strategy"
I try to use the library for Netty as seen in following code. As I see from the log the library assign to isolated CPUs first but if there are more threads these are assigned to unisolated CPUs as well. How can I force the Thread factory to use only isolated CPUs for these threads?

[code]

[2021-05-30 09:59] thhart commented on #73
I can see there is a section in the README: Question: How to lock a specific cpuId, however even if using the recommend method acquireLock(int) it is denied when there is already a thread registered.

[2021-05-30 18:09] thhart commented on #73
What I understand from the library it is hard to achieve, however I have created a quick approach for a thread factory which is solving my needs:

[code]

[2021-06-03 15:28] RobAustin commented on #73
Thank you for your question, however we reserve git issues for just issues, please repost your question on stack overflow.

[2021-06-03 15:28] #73 closed, assigned to nobody

[2021-06-03 15:28] RobAustin commented on #72
Thank you for your question, however we reserve git issues for just issues, please repost your question on stack overflow.

[2021-06-03 15:28] #72 closed, assigned to nobody

[2021-06-05 07:11] thhart commented on #73
I can understand to be forced to StackOverflow in general.However this question is very code specific and addresses a lack either in functionality or documentation. Further I doubt this library is extremely special for the audience in StackOverflow.

[2021-06-05 07:17] hft-team-city opened #74 "java.lang.UnsatisfiedLinkError on M1 mac"
to reproduce run all test of /Users/teamcity/projects/Chronicle-Queue-Enterprise on m1 mac

[code]

[2021-06-17 08:08] peter-lawrey opened #75 "AffinityThreadFactory should bind all thread created, not just the first one."

[2021-06-17 08:26] peter-lawrey opened #76 "When SetThreadAffinityMask silently fails, give a warning and retain the affinity mask."

[2021-06-17 08:26] #75 closed, assigned to peter-lawrey

[2021-06-17 08:28] #76 closed, assigned to peter-lawrey

[2021-06-21 00:57] JerryShea opened #77 "JNA >= 5.7.0 breaks Java-Thread-Affinity on Windows"
[JNA 5.7.0](https://github.com/java-native-access/jna/blob/master/CHANGES.md#release-570) breaks on Windows and so any other projects (which have been upgraded to JNA >= 5.7.0) which depend on Java-Thread-Affinity see see the below exceptions
[code]

[2021-06-21 23:57] #77 closed, assigned to nobody

[2021-08-25 03:25] JerryShea commented on #74
Currently the TeamCity mac build is not compiling.
[code]

[2021-10-17 10:31] nicktindall opened #79 "Affinity is able to be acquired on cores locked by other processes"
There's a bug in `AffinityLock.acquireLock` where locks held by other processes are not visible, meaning threads from separate processes are able to acquire a lock on the same core.

[2021-10-17 22:26] nicktindall opened #81 "Race condition in acquireLock"
When multiple processes are attempting to acquire the same lock, the check to see if the core can be reserved (`canReserve`) and the subsequent locking of the core (`updateLockForCurrentThread`) are done as two separate steps.

https://github.com/OpenHFT/Java-Thread-Affinity/blob/ac876e3647665acb266c19f775274c92dcd0e079/affinity/src/main/java/net/openhft/affinity/LockInventory.java#L109-L112

The

[2021-10-18 07:53] #79 closed, assigned to nicktindall

[2021-10-18 18:55] hft-team-city commented on #79
Released in [Java-Thread-Affinity-3.21ea80](https://github.com/OpenHFT/Java-Thread-Affinity/releases/Java-Thread-Affinity-3.21ea80), [BOM-2.22ea40](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea40)

[2021-10-27 21:27] #81 closed, assigned to nobody

[2021-10-28 20:39] hft-team-city commented on #81
Released in [Java-Thread-Affinity-3.21ea81](https://github.com/OpenHFT/Java-Thread-Affinity/releases/Java-Thread-Affinity-3.21ea81), [BOM-2.22ea49](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.22ea49)

[2022-02-21 01:20] nicktindall opened #90 "Can't lock to CPU 0"
I understand this is probably not something you'd do in the real world, but the code has baked into it the inability to lock to core 0.

We're attempting to write a core-to-core latency test and we're unable to get a number for any pair involving zero.

I'm not sure if the reason for disallowing it is because it's not recommended, or there's another good reason?

[2022-02-21 01:26] nicktindall commented on #90
Some places where the limitation is baked in:

https://github.com/OpenHFT/Java-Thread-Affinity/blob/82dc0bb50ee729a135798977c07100a1e80fcab3/affinity/src/main/java/net/openhft/affinity/AffinityLock.java#L125-L126

https://github.com/OpenHFT/Java-Thread-Affinity/blob/82dc0bb50ee729a135798977c07100a1e80fcab3/affinity/src/main/java/net/openhft/affinity/AffinityLock.java#L276-L279

https://github.com/

[2022-02-21 01:36] nicktindall commented on #90
It feels like we should let `net.openhft.affinity.AffinityLock#RESERVED_AFFINITY` drive whether a core is reservable exclusively, so we can remove the core-0 restriction more easily if we want to?

[2022-02-23 10:00] MannyWhills opened #91 "removed"

[2022-02-23 14:56] #91 closed, assigned to nobody

[2022-04-19 08:11] JerryShea commented on #90
@peter-k-lawrey is of the opinion that we should not allow core 0 to be isolated as the kernel is likely to be running there

[2022-04-19 08:11] #90 closed, assigned to nobody

[2022-07-28 13:21] peter-lawrey opened #92 "Handle ClosedByInterruptException for when acquireLock() is interrupted"

[2022-07-28 13:22] #92 closed, assigned to peter-lawrey

[2022-08-08 00:38] JerryShea opened #93 "log warning instead of throw exception for too high cpuId"
This restores previous behaviour

[2022-08-08 00:55] JerryShea commented on #61
@plusterkopp it looks like this has been forgotten. A number of enhancements have been made to this library since your fork. If there is still a use for this fork (and you are happy to rebase it against current `develop` branch) please let me know and we can review.

[2022-08-08 01:00] JerryShea commented on #53
Closing as the example code works on my Windows machine

[2022-08-08 01:00] #53 closed

[2022-08-08 01:01] JerryShea commented on #57
Closing as not an issue with the library. Probably best to ask questions such as these on stackoverflow

[2022-08-08 01:01] #57 closed

[2022-08-08 01:52] #93 closed, assigned to JerryShea

[2022-08-08 02:41] JerryShea commented on #70
@yhryyq this works for me on my ubuntu machine. Maybe something environmental?

[2022-08-08 02:41] #70 closed, assigned to nobody

[2022-08-08 02:49] JerryShea commented on #69
Closing as no response from @Umartahir93

[2022-08-08 02:49] #69 closed, assigned to nobody

[2022-08-08 17:48] hft-team-city commented on #93
Released in [Java-Thread-Affinity-3.23ea0](https://github.com/OpenHFT/Java-Thread-Affinity/releases/Java-Thread-Affinity-3.23ea0), [BOM-2.23ea104](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea104)

[2022-08-08 17:48] hft-team-city commented on #92
Released in [Java-Thread-Affinity-3.23ea0](https://github.com/OpenHFT/Java-Thread-Affinity/releases/Java-Thread-Affinity-3.23ea0), [BOM-2.23ea104](https://github.com/OpenHFT/OpenHFT/releases/chronicle-bom-2.23ea104)

[2022-09-11 01:26] DamonDBT opened #95 "can this work on windows system ?"
i try to use this in win 10 with jdk 1.8、java-thread-affinity v3.2.3，the pc is 4 core with 8 thread.
code like this:
 `
ExecutorService ES = Executors.newFixedThreadPool(4, new AffinityThreadFactory("bg", AffinityStrategies.ANY));
        System.out.println("\nThe assignment of CPUs is\n" + AffinityLock.dumpLocks());
        return ES;
`

**and console log is :**
The assignment of CPUs is
0: CPU n

[2022-09-11 02:26] DamonDBT commented on #95
This problem has been solved, because JNA is used in other places in my project, but the version is not 4.4.0, and the version conflicts. Just change the whole project to 4.4.0.

[2022-09-11 02:26] #95 closed, assigned to nobody

[2022-10-04 07:43] TDtianzhenjiu opened #98 "In macOS, AffinityThreadFactory is slower than the default thread factory"
Hello @hft-team-city
As the title described, I tested AffinityThreadFactory on my macOS, and the result with `AffinityThreadFactory` was consistently slower than the default `threadfactory`, the code below

[code]
When I use affinity thread factory, it costs about 1400ms~1700ms
however, I remove the thread factory as below:
` val threadPool= Executors.newFixedThreadPool(8)`

It costs about 700ms~1

[2022-10-31 00:34] dosier commented on #74
Im experiencing the same issue

[2022-10-31 01:25] JerryShea commented on #98
@TDtianzhenjiu please ask questions on stackoverflow. Github is for issues

[2022-10-31 01:25] #98 closed, assigned to nobody

[2022-10-31 02:05] JerryShea commented on #61
@plusterkopp I will close this. Please re-open if there is still a use for this

[2022-10-31 02:05] #61 closed

[2022-11-01 00:15] JerryShea commented on #74
@dosier when using Zing?